form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  background: #ffe8e9;
  height: 90ch;
}

form > * {
  margin: 1rem;
  width: 40%;
  border-radius: 1ch;
  border: 2px solid #35030b;
}
header {
  background: #f9eeee;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  background: #ffe8e9;
  padding-top: 2rem;
  height: 10ch;
  width: 40%;
  padding-left: 30%;
  padding-right: 30%;
  font-size: 30px;
  font-family: arial;
  justify-content: space-between;
}
.search {
  width: 40%;
  border-radius: 3ch;
  border: 2px solid #35030b;
}
.search3 {
  width: 10%;
  border-radius: 3ch;
}
.search3:hover {
  background: #35030b;
  color: #ffe8e9;
  border-radius: 3ch;
}

/*   #lista-posts {
    background: #ECDCCE;
    color: #35030B;
    padding: 2rem 2rem;
    font-family: Impact;
  } */

@import "form.css";
@import "button.css";
@import "input.css";

/* para criar arquivos separados no assets css e puxar tudo aqui para importar de uma vez só */
