@import "modal.css";


* {
  padding: 0;
  margin: 0;
  background-color: #f8f6eb;
  font-family: 'Gill Sans';
  cursor: url('public/hand-removebg-preview.png'), auto;
}

a:any-link{
 text-decoration: none;
 color: inherit;
}

.botao {
  width: 25%;
  height: 40px;
  border-radius: 3ch;
  text-align: center;
  text-decoration: none;
  background: #E7DFD8;
  border: 2px solid #35030b;
  color: #654F3A;
}

.botao:hover {
  background: #231F20;
  color:#FFFFFF;
  border-radius: 3ch;
}

nav {
  display: flex;
  background: #f8f6eb;
  padding-top: 2rem;
  height: 5ch;
  width: 40%;
  padding-left: 30%;
  padding-right: 30%;
  font-size: 30px;
  font-family: fantasy;
  justify-content: space-between;
}
.search {
  width: 30%;
  border-radius: 3ch;
  border: 2px solid #35030b;
  justify-content: center;
  align-items: center;
  background: #E7DFD8;
  opacity: 70%;
  text-align: center;
}

textarea{
  color:#35030b;
}

.alinhar {
  height: 70vh;
  display: flex;
  align-items: center; 
  flex-direction: column;
  text-align: center;
}
.feed {
  border: 2px solid #35030b;
  margin-top: 1rem;
  width: 40vw;
  height: 20vh;
  border-radius: 3ch;
  overflow: auto;
  font-size: 2ch;
  display: flex;
  flex-direction: column;
}

.feed:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
}

form > * {
  margin: 1rem;
  width: 30%;
  border-radius: 1ch;
  border: 2px solid #35030b;
  background: #E7DFD8;
  opacity: 70%;
}

.create {
  width: 10%;
  border-radius: 3ch;
}

.create:hover {
  background: #231F20;
  color:#FFFFFF;
  border-radius: 3ch;
}

.teste{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title{
  justify-content: first baseline;
  padding-top: 1px;
  text-decoration: none;
  color:#231F20;
  border: 2px solid red;
  width: 50%;
}

#icondelete{
  cursor: pointer;
  border: 2px solid green;
  width: 25px;
  align-items: center;
  margin-left: 640px;
  margin-bottom: 0px;
}

#iconedit{
  border: 2px solid blue;
  margin-top: auto;
  margin-left: 637px;
}

.content{
  display: flex;
  margin-left: 15px;
  border: 2px solid orange;
  height: 30vh;
  width: 30vw;
}