#icondelete{
    cursor: url('/agoravai.png'), auto;
    width: 25px;
    align-items: center;
    margin-left: 91%;
    border: 2px solid #231F20;
    border-radius: 0.2ch;
    size: 10px;
  }
  
  #icondelete:hover{
    background: #231F20;
    color:#f8f6eb;
    border-radius: 0.2ch;
  }
  
  
  #iconedit{
    margin-left: 86%;
    border: 2px solid #231F20;
    border-radius: 0.2ch;
    size: 10px;
    cursor: url('/agoravai.png'), auto;
  }
  
  #iconedit:hover{
    background: #231F20;
    color:#f8f6eb;
    border-radius: 0.2ch;
  }