.modal {
    position: absolute;
    width: 100vw; 
    height:100vh;

    background: rgba(0, 0, 0, 0.2);
    top:0;
    left:0;

    display: flex;
    justify-content: center;
    align-items: center;
}


.modal-content{
    background: #231F20;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    width: 80%;
    height: 15%;
    max-width: 800px;
    border-radius: 8px;
    font-size: 25px;
}

.modal-actions{
    background: #231f23;
    padding-bottom: 6px;
    width: 30rem;
    font-size: 20px;
}

.bg-error{
    background: #600503;
    border-radius: 1ch;
    width: 6rem;
    margin-left: 4rem;
    margin-right: 10rem;
    font-family: 'Gill Sans';
    border: 2px solid #f8f6eb;
    color: #f8f6eb;
}

.bg-error:hover{
    opacity: 70%;
}

.bg-success{
    background: #04780a;
    width: 6rem;
    border-radius: 1ch;
    font-family: 'Gill Sans';
    border: 2px solid #f8f6eb;
    color: #f8f6eb;
}

.bg-success:hover{
    opacity: 70%;
}

.delete{
    background: #231F20;
    color: #f8f6eb;
    font-family: 'Gill Sans';
}

.sure{
    background: #231F20;
    color: #f8f6eb;
    font-family: 'Gill Sans';
}